<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2013 European Parliament

    Licensed under the EUPL, Version 1.1 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
    You may not use this work except in compliance with the Licence.
    You may obtain a copy of the Licence at:

    http://joinup.ec.europa.eu/software/page/eupl

    Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the Licence for the specific language governing permissions and limitations under the Licence.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="documentService" class="org.nsesa.server.service.api.DocumentService"
          factory-bean="documentServiceClientFactory"
          factory-method="create" autowire="byName"/>

    <bean id="documentServiceClientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="org.nsesa.server.service.api.DocumentService"/>
        <property name="address" value="${services.url}/DocumentService"/>
    </bean>
    <bean id="amendmentService" class="org.nsesa.server.service.api.AmendmentService"
          factory-bean="amendmentServiceClientFactory"
          factory-method="create" autowire="byName"/>

    <bean id="amendmentServiceClientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="org.nsesa.server.service.api.AmendmentService"/>
        <property name="address" value="${services.url}/AmendmentService"/>
    </bean>
    <bean id="personService" class="org.nsesa.server.service.api.PersonService"
          factory-bean="personServiceClientFactory"
          factory-method="create" autowire="byName"/>

    <bean id="personServiceClientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="org.nsesa.server.service.api.PersonService"/>
        <property name="address" value="${services.url}/PersonService"/>
    </bean>

</beans>
