<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 3.0//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- Configure the properties via placeholders. We will first read the properties file on the classpath,
        which can be overridden via another properties file in the local home directory. -->
    <bean id="propertyConfigurer"
          class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:nsesa-editor-an.properties</value>
                <value>file:///${user.home}/nsesa-editor-an.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="false"/>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- GWT Log -->
                <prop key="**/remote_logging">gwtLogController</prop>
                <!-- GWT -->
                <prop key="**/gwtService">gwtService</prop>
                <prop key="**/gwtDiffService">gwtDiffService</prop>
                <prop key="**/gwtDocumentService">gwtDocumentService</prop>
                <prop key="**/gwtAmendmentService">gwtAmendmentService</prop>
            </props>
        </property>
    </bean>

    <bean id="gwtService" class="org.nsesa.editor.gwt.an.server.service.gwt.GWTServiceImpl" autowire="byName"/>
    <bean id="gwtDiffService" class="org.nsesa.editor.gwt.an.server.service.gwt.GWTDiffServiceImpl" autowire="byName"/>
    <bean id="gwtDocumentService" class="org.nsesa.editor.gwt.an.server.service.gwt.GWTDocumentServiceImpl"
          autowire="byName">
        <property name="documents">
            <map>
                <entry key="1" value="classpath:examples/COM_COM(2011)0032_EN.xml"/>
                <entry key="2" value="classpath:examples/Act_Kenya_1980-01-01@1989-12-15.xml"/>
                <entry key="3" value="classpath:examples/Act_Kenya_1989-12-06.xml"/>
                <entry key="4" value="classpath:examples/AmendmentList_Bungeni_2010-10-28v1.xml"/>
                <entry key="5" value="classpath:examples/Debate_Bungeni_2010-12-07.xml"/>
                <entry key="6" value="classpath:examples/constitution_final-Kenya.xml"/>
                <entry key="7" value="classpath:examples/Bill_southAfrica_2006-12-23.xml"/>
            </map>
        </property>
        <property name="documentTemplate" value="classpath:document.ftl"/>
    </bean>
    <bean id="gwtAmendmentService" class="org.nsesa.editor.gwt.an.server.service.gwt.GWTAmendmentServiceImpl"
          autowire="byName">
        <property name="documents">
            <map>
                <entry key="amendment-1" value="classpath:examples/AM-793034EN-AM1.xml"/>
                <entry key="amendment-2" value="classpath:examples/AM-793034EN-AM2.xml"/>
                <entry key="amendment-3" value="classpath:examples/AM-793034EN-AM3.xml"/>
            </map>
        </property>
        <property name="documentTemplate" value="classpath:document.ftl"/>
        <property name="amendmentDirectory"
                  value="file:///${user.home}/nsesa-export/"/>
    </bean>

    <bean id="gwtLogController" class="org.springframework.web.servlet.mvc.ServletWrappingController">
        <property name="servletClass" value="com.google.gwt.logging.server.RemoteLoggingServiceImpl"/>
        <property name="initParameters">
            <props>
                <prop key="symbolMaps_1">${gwt-log.symbolMaps.editor}</prop>
            </props>
        </property>
    </bean>

</beans>