/*
* --------------------------------------------------------------------------
* Akoma Ntoso default stylesheet.
* Note: this is generated!
* --------------------------------------------------------------------------
*/
/*
* --------------------------
* Amendments
* --------------------------
*/
/*
* --------------------------
* akomaNtosoType
* --------------------------
*/
/*
* --------------------------
* amendmentBodyType
* --------------------------
*/
/*
* --------------------------
* amendmentStructure
* --------------------------
*/
/*
* --------------------------
* anyOtherType
* --------------------------
*/
/*
* --------------------------
* argumentType
* --------------------------
*/
/*
* --------------------------
* basehierarchy
* --------------------------
*/
.basehierarchy[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* althierarchy
* --------------------------
*/
.althierarchy[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.address[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.adjournment[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.administrationOfOath[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.communication[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.debateSection[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.declarationOfVote[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.ministerialStatements[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.nationalInterest[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.noticesOfMotion[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.oralStatements[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.papers[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.personalStatements[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.petitions[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.pointOfOrder[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.prayers[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.proceduralMotions[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.questions[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.resolutions[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.rollCall[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.writtenStatements[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* hierarchy
* --------------------------
*/
.hierarchy[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.alinea[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.article[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.book[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.chapter[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.clause[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.division[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.hcontainer[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.indent[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.list[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.paragraph[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.part[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.point[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.section[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.subchapter[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.subclause[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.subdivision[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.sublist[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.subparagraph[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.subpart[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.subsection[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.subtitle[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.title[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.tome[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.transitional[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* itemType
* --------------------------
*/
.itemType[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

.citation[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

.item[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

.recital[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

.tblock[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* speechType
* --------------------------
*/
.speechType[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.answer[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.question[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.speech[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* basicopt
* --------------------------
*/
/*
* --------------------------
* blocksopt
* --------------------------
*/
.blocksopt[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.amendmentContent[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.amendmentHeading[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.amendmentJustification[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.amendmentReference[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.content[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.formula[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.header[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.intro[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.longTitle[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.other[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.td[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: table-cell;
    margin-top: 1.5em;
}

.th[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.wrap[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* blocksreq
* --------------------------
*/
.blocksreq[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.div[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.interstitial[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.note[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* bodyType
* --------------------------
*/
/*
* --------------------------
* collectionBodyType
* --------------------------
*/
/*
* --------------------------
* collectionStructure
* --------------------------
*/
.component[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* containerType
* --------------------------
*/
.container[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* coreProperties
* --------------------------
*/
/*
* --------------------------
* countType
* --------------------------
*/
/*
* --------------------------
* debateBodyType
* --------------------------
*/
/*
* --------------------------
* debateStructure
* --------------------------
*/
/*
* --------------------------
* fragmentBodyType
* --------------------------
*/
/*
* --------------------------
* fragmentStructure
* --------------------------
*/
/*
* --------------------------
* hierarchicalStructure
* --------------------------
*/
/*
* --------------------------
* inline
* --------------------------
*/
.inline[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.a[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    display: inline;
}

.affectedDocument[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.b[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
    font-weight: bold;
}

.block[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    margin: 1.5em;
    display: block;
}

.caption[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.change[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.courtType[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.date[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.def[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    border-bottom: 1px solid #b68503;
    background-color: yellow;
    display: inline;
}

.del[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    color: red;
    font-style: italic;
    background-color: pink;
    text-decoration: line-through;
    display: inline;
}

.docCommittee[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docDate[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docIntroducer[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docJurisdiction[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docNumber[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docProponent[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docPurpose[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docStage[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docStatus[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docTitle[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docType[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.docketNumber[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.extractText[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.fillIn[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.from[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.heading[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.i[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    font-style: italic;
    display: inline;
}

.inline[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.ins[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    color: blue;
    font-style: italic;
    background-color: lightblue;
    text-decoration: underline;
    display: inline;
}

.legislature[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.listConclusion[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.listIntroduction[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.mref[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.narrative[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.neutralCitation[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.num[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.omissis[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.opinion[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.outcome[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.p[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.placeholder[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.quotedText[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.recordedTime[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.relatedDocument[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.remark[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.scene[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.session[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.shortTitle[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.signature[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.span[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.sub[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    vertical-align: sub;
    font-size: xx-small;
    display: inline;
}

.subheading[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.summary[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.sup[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    vertical-align: super;
    font-size: xx-small;
    display: inline;
}

.tocItem[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.u[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    text-decoration: underline;
    display: inline;
}

.vote[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

/*
* --------------------------
* inlinereq
* --------------------------
*/
.inlinereq[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.ref[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.rref[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

/*
* --------------------------
* inlinereqreq
* --------------------------
*/
.inlinereqreq[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.concept[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.entity[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.event[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.judge[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.lawyer[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.location[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.object[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.organization[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.party[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.person[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.process[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.quantity[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.role[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

.term[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: inline;
}

/*
* --------------------------
* judgementBodyType
* --------------------------
*/
/*
* --------------------------
* judgementStructure
* --------------------------
*/
/*
* --------------------------
* judicialArgumentType
* --------------------------
*/
/*
* --------------------------
* judicialArguments
* --------------------------
*/
.li[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    margin-left: 1.5;
    display: list-item;
}

/*
* --------------------------
* listItems
* --------------------------
*/
.ol[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
}

.ul[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
}

/*
* --------------------------
* maincontent
* --------------------------
*/
.maincontent[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.background[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.decision[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.introduction[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.mainBody[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

.motivation[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* markeropt
* --------------------------
*/
.br[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: block;
}

/*
* --------------------------
* eolType
* --------------------------
*/
/*
* --------------------------
* markerreq
* --------------------------
*/
/*
* --------------------------
* metaopt
* --------------------------
*/
/*
* --------------------------
* valueType
* --------------------------
*/
/*
* --------------------------
* modType
* --------------------------
*/
/*
* --------------------------
* modificationType
* --------------------------
*/
/*
* --------------------------
* openStructure
* --------------------------
*/
/*
* --------------------------
* parliamentaryAnalysis
* --------------------------
*/
/*
* --------------------------
* parliamentaryAnalysisType
* --------------------------
*/
/*
* --------------------------
* periodType
* --------------------------
*/
/*
* --------------------------
* popupStructure
* --------------------------
*/
.extractStructure[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    padding-left: 2.5em;
    color: #333;
    margin: 1.5em;
    display: block;
    border-left: 15px solid #ccc;
}

.quotedStructure[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    padding-left: 2.5em;
    color: #333;
    margin: 1.5em;
    display: block;
    border-left: 15px solid #ccc;
}

/*
* --------------------------
* preambleopt
* --------------------------
*/
/*
* --------------------------
* prefaceopt
* --------------------------
*/
/*
* --------------------------
* refItems
* --------------------------
*/
/*
* --------------------------
* referenceType
* --------------------------
*/
/*
* --------------------------
* srcType
* --------------------------
*/
.table[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: table;
}

.tr[data-ns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0/CSD02"] {
    display: table-row;
}

