/*
* --------------------------------------------------------------------------
* This stylesheet should contain all styling that has to do with the basic
* amendment style.
* --------------------------------------------------------------------------
*/
.amendment {
    max-width: 1400px;
    background-color: #ccc;
    border: 1px solid black;
    padding: 10px;
}

.amendment .header {
    font-size: 1.3em;
}

.amendment amendmentcontent {
    display: block;
    width: 100%;
}

.amendment amendmentcontent block {

}

.amendment amendmentcontent block[name="versionTitle"] {
    width: 50%;
    float: left;
    display: inline-block;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 15px;
}

.amendment mod {
    display: block;
    width: 100%;
    clear: both;
}

.amendment mod quotedstructure {
    width: 50%;
    display: table-cell;
    padding: 15px;
}

.amendment block[name="comment"] {
    display: block;
    text-align: right;
    font-style: italic;
    width: 100%;
}

.amendment amendmentJustification {
    display: block;
    width: 100%;
}

.amendment amendmentJustification block {
    display: block;
    width: 100%;
}

.amendment amendmentJustification block[name="justificationHeading"] {
    display: block;
    font-style: italic;
    text-align: center;
    width: 100%;
}

.amendment amendmentcontent change {
    display: inline;
    font-weight: bold;
    font-style: italic;
}
