/*
* --------------------------------------------------------------------------
* This stylesheet should contain all styling that has to do with the basic
* document style.
* --------------------------------------------------------------------------
*/
.document {
}

.contentPanel {
    font-family: "Times New Roman", serif !important;
    font-size: large;
    line-height: 1.2em;
}

.actionBarView {
    font-family: "Verdana", sans-serif !important;
}

/** Diffing logic for all parts of application */
.highlight-diff {
    font-style: italic;
    font-weight: bold;
}

.highlight-ins {
    color: blue;
    background-color: lightblue;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.highlight-ins-normal {
    color: blue;
    background-color: lightblue;
    font-style: italic;
    text-decoration: underline;
}

.highlight-del {
    color: red;
    background-color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
}

.highlight-del-normal {
    color: red;
    background-color: pink;
    font-style: italic;
    text-decoration: line-through;
}

.highlight-red {
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}